
.main-container {
  height: 100%;
  width: 100%;
  padding: 17px;
  border-radius: 9px 0px 0px 9px;
  overflow-y: auto;
}

.cart-details-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 100%;
}
.cart-content-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.empty-bag{
    height: 52px;
    width: 48px;
}
.browse-products-btn{
    border: 2px solid rgb(226, 93, 93);
    border-radius: 6px;
    padding: 5px;
    background-color: transparent;
    color: #ff3269;
}
.order-container{
    background-color: white;
    box-shadow: 0px 0px 6px gray;
    border-radius: 4px;
    margin-bottom:8px;
    padding: 10px 15px;
}
.delivered-btn{
    background-color: rgb(12, 129, 12);
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 14px;
}
.products-details-text{
    color: black;
    font-weight: 700;
}
.order-details-text{
    color: rgb(168, 166, 166);
    font-size: 12px;
    margin-bottom: 0px;
}
.order-detailed-view-link{
    text-decoration: none;
}