.wrapper {
  padding-top: 87px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.left-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 16px;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(209, 205, 205);
  border-radius: 8px;
  width: 100%;
  /* height: 50%; */
  padding: 50px;
}
.right-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 16px;
}
.about-product {
  padding: 16px 0px;
}
.description-container {
  display: block;
}
.about-product-unordered-list {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: rgb(148, 143, 143);
  padding: 0px 0px 0px 16px;
}

.product-name {
  color: black;
  font-weight: 700;
}
.price-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.quantity {
  color: gray;
}
.original-price {
  font-size: 17px;
  color: gray;
  text-decoration: line-through;
  margin-bottom: 0px;
  margin-right: 7px;
}
.offer-price {
  font-size: 25px;
  color: black;
  font-weight: 700;
  margin-bottom: 0px;
  margin-right: 7px;
}
.discount-percentage {
  background: linear-gradient(rgb(99, 7, 141) 0%, rgb(174, 0, 255) 100%);
  color: white;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 6px;
  /* width: 58px; */
  height: 24px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr-line {
  border-color: rgb(219, 214, 214);
}
