.tip-amounts{
    width: 100%;
    display: flex;
}
.tip-button{
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid rgb(168, 162, 162);
    margin-right: 20px;
}
.tip-amount-text{
    margin-bottom: 0px;
    margin-left: 5px;
}